
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: whitesmoke; */

}

html, body {
    overflow-x: hidden;

    width: 100%;
    height: 100%;
}
/* #outerborder{
    display: flex;
} */
#product_heading {
    position: relative;
     padding: 6px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vh;
    font-weight: 600;
    color: #032a25;
    text-align: center;
    /* margin: auto; */
        /* background: #fff; */
    z-index: 1; /* Ensure the heading remains on top */
}

/* Inner Gradient Border */
#product_heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #032A25;

    /* border-radius: 30px; */
    z-index: -1; /* Place behind the heading text */
}

/* Outer Green Border */
#product_heading::after {
    content: "";
    position: absolute;
    top: -6px; /* Extend beyond the element */
    left: 0;
    right: 0;
    bottom: -6px;
    border: 3px solid transparent; /* Reserve space for the gradient */
    background: linear-gradient(to right, #f9f295, #e0aa3e, #b88a44);
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    /* border-radius: 30px; */
    /* border-radius: 40px; */
    z-index: -2; /* Place behind both the text and the inner border */
}
/* ========================================================contact us======================================== */
/* #map_container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    height: 100%;
    width: 100%;
}

#map_container::before, #map_container::after {
    content: '';
    position: absolute;
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #b88a44);
} */

/* Top and Left Gradient Border */
/* #map_container::before {
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
} */

/* #map_container::after {
    top: 0;
    left: 0;
    bottom: 0;
    width: 4px; } */

/* Right Gradient Border */
 /* #map_container::after {
    right: 0;
    width: 4px; 
    bottom: 0;
    left: 0;


} */

/* iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid goldenrod;
} */
/* #aboutus p{
    margin-top: 10px;
    font-size: 1.5vw;
    padding: 0px 15px 0 20px;
    text-align: justify;
    word-spacing: 15px;
    line-height: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
} */
#aboutus{

    margin-top: 70px;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#imgabout img{
    height: 70%;
    width: 100%;
}
#imgabout{
    width: 30%;
    height: 100%;
}
#paragraphabout{
    display: flex;
    flex-direction: column;
}
#paragraphabout p{
    color: #032A25;
    /* margin-top: 50px; */
    padding: 0 5px 0 55px;
    font-size: 1vw;
    font-family: "Poppins", sans-serif;
    text-align: left;
}
#paragraphabout h1{
    color: #032A25;
    /* margin-top: 50px; */
    padding: 0 5px 0 55px;
    font-size: 3vw;
    font-family: "Poppins", sans-serif;
    text-align: left;
    line-height: 1.9;

}
#paragraphabout{
    width: 50%;
    height: 100%;
}
#contactContainer{
    width: 90%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#contactDetails{
    /* background-color: green; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: left;
    font-family: "Poppins", sans-serif;
}
#MoreDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: left;
    font-family: "Poppins", sans-serif;
}
#address{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: "Poppins", sans-serif;
}
#calling{
    display: flex;
    flex-direction: row;
    margin-left: -40px;
    gap: 10px;
    font-family: "Poppins", sans-serif;

}
#calling a , #address a , #mailing a{
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 1.5vw;
}
#mailing{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    margin-left: -160px;
    gap: 10px;
}
#heading2 h2{
    color: #032A25;
    font-size: 2.7vw;
    margin-left: -50px;
}
#heading2 img{
    height: 110px;
    width: 250px;
    object-fit: cover;
    margin-left: -60px;
}
#mailing a{
    text-decoration: none;
    font-size: 1.5vw;
    color: #032A25;
}
#contactDetails i{
    
    color: #e0aa3e;
    font-size: 2vw;
    margin-left: -90px;
}
#contactDetails p{
    font-size: 1.3vw;
    font-family: "Poppins", sans-serif;
}
#QRscanner{
    font-family: "Poppins", sans-serif;
    height: 550px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9vw;
    font-style: normal;
    line-height: 0.8;
}
#QRscanner h1{
    margin-top: 15px;
    font-weight: 500;
}
#QRscanner img {
    height: 50%;  /* Make height equal to width to maintain a square shape */
    width: 50%;
    border: 2px solid goldenrod;
    object-fit: cover; /* Ensures the image fits within the square without distortion */
}

.scancode{
    color: #032A25;
}
#main{
    position: relative;
}
#herosection{
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    position: relative;
}
#pagecontactdetails{
    height: 95vh;
    width: 100%;
    margin-top: -190px;
    background-color: whitesmoke;
    position: relative;
}
nav {
    background-color: whitesmoke;
    padding: 2vw;
    padding-right: 6vw;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}
.menu-icon {
    display: block;
    z-index: 2;
}
.menu-icon i{
    display: block;
} 
.menu-icon i {
    background: linear-gradient(to right, #f9f295, #e0aa3e, #b88a44); /* Gradient background */
    -webkit-background-clip: text; /* Clip the background to the text */
    color: transparent; /* Make the text transparent so that the background shows through */
    text-decoration: none; /* Remove underline */ 
    font-size: 40px;
    display: none;
}
.menu-icon{
    display: none;
} 
#logo_img {

    height: 110px;
    width: 250px;
    object-fit: cover;
}

#nav-part2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

#nav-part2 a {
    color: #032a25;
    text-decoration: none;
    /* position: relative; */
}

#nav-part2 h1 {
    padding: 10px 20px;
    border-radius: 50px;
    color: #032a25;
    font-size: 17px;
    font-weight: 500;
    /* position: relative; */
    /* overflow: hidden; */
    transition: all ease 0.4s;
}


/* Dropdown Styling */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position the dropdown below the Products link */
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #032A25;
    z-index: 10;
    width: 200px;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    background-color: whitesmoke;
    font-weight: 400;
}

.dropdown-content a:hover {
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #B88A44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Sub-dropdown Styling */
.sub-dropdown {
    position: relative;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; /* Align the sub-dropdown to the right */
    width: 200px;
    background-color: #032A25;
    box-shadow: 0 4px 8px rgba(253, 253, 253, 0.1);
    border-radius: 10px;
    z-index: 20;
}

.sub-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    background-color: whitesmoke;
    transition: background-color 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.sub-dropdown-content a:hover {
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #B88A44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

/* Show sub-dropdown on hover */
.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}

/* Nav item hover effect */
#nav-part2 h1:hover a {
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #B88A44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

footer {
    position: relative;
    background-color: #111;
    color: #fff;
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px; /* This will be the height of the "border" */
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #b88a44); /* Gradient for the border */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}
footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-links {
    color: #fff;
    background-color: #111;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-logo {
    background-color: #111;
    color: whitesmoke;
    flex-basis: 25%;
    height: 110px;
    width: 250px;
}

#footerlogo {
    background-color: #111;
    color: whitesmoke;
    width: 60%;
    height: 80px;
    object-fit: cover;
}

.footer-links {
    /* flex-basis: 70%; */
    background-color: #111;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
}

.footer-links ul {
    list-style: none;
    background-color: #111;
    color: whitesmoke;
}

.footer-links ul li {
    background-color: #111;
    color: whitesmoke;
    margin: 5px 0;
}

.footer-links ul li a { 
    color: #fff;
    background-color: #111;
    text-decoration: none;
    font-size: 0.875rem;
}

.footer-links ul li a:hover {
    background-color: #111;
    color: whitesmoke;
    text-decoration: underline;
}

.footer-divider {

    width: 100%;
    padding: 1px;
    margin: 30px 0;
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #b88a44); /* Gradient for the border */
    /* border: 0px solid transparent; Transparent border to maintain spacing */

}
.footer-socials {
    color: #fff;
    background-color: #111;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}
#footer-bharat{
    background-color: white;
    width: 75px;
    height: 60px;
}
#footer-bacho{
    width: 75px;
    height: 75px;
}
#footer-earth{
    width: 70px;
    height: 70px;
}
#footer-lion{
    width: 75px;
    height: 75px;
}
#footer-city{
    width: 75px;
    height: 75px;
    /* background-color: white; */
    color: #111;

}
.footer-socials img {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    margin: 10px 10px;
}
/* .footer-socials a {
    color: #fff;
    width: 20px;
    height: 20px;
    margin: 2px 9px;
    padding-right: 50px;
    text-decoration: none;
    gap: 10px;
} */

.footer-socials a:hover {
    color: #aaa;
}

.footer-copyright {
    text-align: center;
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
}

#gototop{
    display: none;
}


/* Mobile Responsiveness */
@media (max-width: 768px) {
    #product_heading {
        font-size: 2vh;
    }
    #polls_bollards {
        padding: 30px;
        flex-direction: column;
        gap: 20px;
    }

    #polls_img, #bollards_img {
        width: 70%;
        height: auto;
    }
    .hover-text {
        display: block; 
        text-align: center; 
        font-size: 3vh; 
    }
} 
@media (max-width: 600px) {
    #logo_img{
        height: 110px;
        width: 180px;
        object-fit: cover;
        margin-top: 0;
    }
    #nav-part2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #032A25;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 30%;
        right: 0;
        z-index: 2;
        overflow: hidden;
        transition: .3s ease-out;
    }
    #nav-part2 a {
        background: linear-gradient(to right, #f9f295, #e0aa3e, #b88a44); /* Gradient background */
        -webkit-background-clip: text; /* Clip the background to the text */
        color: transparent; /* Make the text transparent so that the background shows through */
        text-decoration: none; /* Remove underline */
    }
    #aboutus{
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }
    #imgabout{
        width: 100%;
    }
    #paragraphabout{
        background-color: whitesmoke;
        margin-top: -30%;
        width: 100%;
        height: 100%;
        /* background-color: green; */
    }
    #paragraphabout p{
        color: #032A25;
        /* margin-top: 50px; */
        padding: 0 5px 0 15px;
        font-size: 2.5vw;
        font-family: "Poppins", sans-serif;
        text-align: left;
    }
    #paragraphabout h1{
        color: #032A25;
        /* margin-top: 50px; */
        padding: 0 5px 0 15px;
        font-size: 3vw;
        font-family: "Poppins", sans-serif;
        text-align: left;
    }
    
     #contactContainer{
        margin-top: 150px;
        display: flex;
        flex-direction: column;
    } 
    /* #contactDetails{
        display: flex;
        flex-direction: column;
    } */
    /* #heading2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

    /* #QRscanner{
        font-size: 2.4vw;
        
    } */
    #QRscanner{
        font-family: "Poppins", sans-serif;
        height: 550px;
        width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.4vw;
        font-style: normal;
        font-weight: 300;
    }
    /*
    #QRscanner h1{
        margin-top: 15px;
        font-weight: 500;
    } */
    #QRscanner img {
        height: 58%;  /* Make height equal to width to maintain a square shape */
        width: 50%;
        border: 2px solid goldenrod;
        object-fit: cover; /* Ensures the image fits within the square without distortion */
    }





    #contactDetails{
        /* background-color: red; */
        height: 100%;
        margin-left: 50px;
        width: 100vw;
        display: flex;
         flex-direction: column; 
        align-items: center;
        justify-content: center;
        /* gap: 20px; */
        /* text-align: left; */
        font-family: "Poppins", sans-serif;
    }
    #MoreDetails{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-align: left;
        font-family: "Poppins", sans-serif;
    }
    #address{
        /* margin-left: -153px; */
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-family: "Poppins", sans-serif;
        margin: auto;
    }
    #calling{
        display: flex;
        flex-direction: row;
        /* justify-content: center;
        align-items: center; */
        margin-left: -20px;
        gap: 5px;
        font-family: "Poppins", sans-serif;
    
    }
    #calling a , #address a , #mailing a{
        font-family: "Poppins", sans-serif;
        text-decoration: none;
        font-size: 6vw;
    }
    #mailing{
        font-family: "Poppins", sans-serif;
        display: flex;
        flex-direction: row;
        
        margin-left: -90px;
        gap: 5px;
        /* margin: auto; */
    }
    #heading2 h2{
        color: #032A25;
        font-size: 7.5vw;
        margin-right: -20px;
    }
    #heading2 img{
        height: 110px;
        width: 250px;
        object-fit: cover;
        /* margin-left: -60px; */
    }
    #mailing a{
        text-decoration: none;
        font-size: 5vw;
        color: #032A25;
    }
    #contactDetails i{
        
        color: #e0aa3e;
        font-size: 6vw;
        margin-left: -90px;
    }
    #contactDetails p{
        font-size: 3.2vw;
        font-family: "Poppins", sans-serif;
    }






























    /* #nav-part2 h1:nth-child(1){
        top: 50%    ;
        gap: 50px;
    }
    #nav-part2 h1:nth-child(2){
        top: 7%    ;
    }
    #nav-part2 h1:nth-child(3){
        top: 8%    ;
    } */
    /* #nav-part2 h1 a{
        padding: 20px;
    }   */
    /* .menu-icon:hover{
        background-color: gold;
    } */
    .menu-icon {
        display: block;
        z-index: 2;
    }
    .menu-icon i{
        display: block;
    }  
    #gototop{
        display: block;
        /* margin: auto; */
        height: 50px;
        width: 100px;
        background-color: #111;
        text-decoration: none;
        border: 3px solid #032A25;
        background: linear-gradient(to right, #f9f295, #e0aa3e, #b88a44); /* Gradient background */
        -webkit-background-clip: text; /* Clip the background to the text */
        color: transparent; /* Make the text transparent so that the background shows through */
        text-decoration: none; /* Remove underline */ 
    }
    #product_heading {
        font-size: 3vh;
        margin-bottom: 30px;
    }
    #polls_bollards{
        margin-top: -30px;
        height: 700px;
        width: 100%;
    }
    #polls_img, #bollards_img {
        width: 100%;
        height: 40vh;
        position: relative;
        overflow: hidden;
    }
    #polls_img img, #bollards_img img {
        width: 100%;
        height: 40vh;
        transition: transform 0.3s ease-in;
    }
    .hover-text {
        position: absolute;
        bottom: 0;
        font-size: 6vw;
        color: whitesmoke;

    }
    #polls_img img:hover {
        content: url('../AssertsAll/poles/light_Poles.webp');
    }
    
    #bollards_img img:hover {
        content: url('../AssertsAll/garden_lights/light_garden\ lights.webpg');
    }
    .footer-links {
        display: block; /* Enables flex layout for easy alignment */
        justify-content: start; /* Centers the logo */
    }
    
    .footer-links a {
        display: none; /* Hides all anchor links */
    }
    .footer-links #contacthai{
        display: block;
        background-color: red;
    }
    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 50px;
        width: 100%; 
    }
    .footer-logo img{
        height: 100%;
        width: 100%;
    }
    #footerlogo{
        width: 50%;
        left: 0;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    #product_heading {
        font-size: 4.5vh;
    }

    nav {
        padding: 1.5vw;
        flex-direction: row;
        height: auto;
    }

    #nav-part2 h1 {
        font-size: 0.9rem;
    }

    #polls_bollards {
        gap: 40px;
        flex-direction: row;
    }

    #polls_img, #bollards_img {
        width: 45%;
        height: auto;
    }
    
}