@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #032a25;

}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
#main{
    position: relative;
}
#herosection {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}

#product_heading {
    font-family: 'Poppins', sans-serif;
    font-size: 5vh;
    font-weight: 600;
    color: #032a25;
    text-align: center;
    text-decoration: underline;
    margin: auto;
}

/* Navigation */
nav {
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

#logo_img {
    height: 110px;
    width: 250px;
    object-fit: cover;
}
nav a{
    text-decoration: none;
}

#nav-part2 {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

#nav-part2 a {
    color: #032a25;
    text-decoration: none;
    position: relative;
}

#nav-part2 h1 {
    padding: 10px 20px;
    border-radius: 50px;
    color: #032a25;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    transition: all ease 0.4s;
}

/* Dropdown Styling */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position the dropdown below the Products link */
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #032A25;
    z-index: 10;
    width: 200px;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    background-color: whitesmoke;
    font-weight: 400;
}

.dropdown-content a:hover {
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #B88A44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Sub-dropdown Styling */
.sub-dropdown {
    position: relative;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; /* Align the sub-dropdown to the right */
    width: 200px;
    background-color: #032A25;
    box-shadow: 0 4px 8px rgba(253, 253, 253, 0.1);
    border-radius: 10px;
    z-index: 20;
}

.sub-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    background-color: whitesmoke;
    transition: background-color 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.sub-dropdown-content a:hover {
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #B88A44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

/* Show sub-dropdown on hover */
.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}

/* Nav item hover effect */
#nav-part2 h1:hover a {
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #B88A44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}


/* Product Section */
#polls_bollards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding-top: 45px;
    height: 81vh;
}
#polls_img, #bollards_img , #LEDPostTop_img , #LEDDropDown_img {
    width: 35%;
    height: 69vh;
    background-color: #e9e9e9;
    position: relative;
    overflow: hidden;
}
#polls_img img, #bollards_img img , #LEDPostTop_img img , #LEDDropDown_img img{
    width: 100%;
    height: 60vh;
    transition: transform 0.3s ease-in;
}
#polls_img  a ,  #LEDPostTop_img a{
    text-decoration: none;
}
#bollards_img a , #LEDDropDown_img a {
    text-decoration: none;
}
#polls_img img:hover{
    content: url('../AssertsAll/decor.poles/light_poles.jpg'); /* Change image on hover */
}

#bollards_img img:hover{
    content: url('../AssertsAll/brackets/light_brackets.jpg'); /* Change image on hover */
}
#LEDPostTop_img img:hover{
    content: url('../AssertsAll/ledposttop/light_LED\ Post\ top.jpg'); /* Change image on hover */
}
#LEDDropDown_img img:hover{
    content: url('../AssertsAll/leddropdown/light_LED\ Drop\ Down.jpg'); /* Change image on hover */
}
/* LEDDropDown_img */
.hover-text {
    display: inline;
    justify-content: center;
    color: black;
    font-size: 3vh;
    padding-left: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
#nav-part2 h1:hover a{
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #B88A44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#polls_bollards {
    gap: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    padding: auto;
    padding-right: 20px;
    align-items: center;
}
footer {
    position: relative;
    background-color: #111;
    color: #fff;
    padding: 40px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px; /* This will be the height of the "border" */
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #b88a44); /* Gradient for the border */
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo,
.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.footer-logo {
    flex-basis: 25%;
    text-align: left;
    height: 110px;
    width: 250px;
    object-fit: cover;
}
#footerlogo{
    height: 80px;
    width: 60%;
    object-fit: cover;
}
#logo_img{
    height: 110px;
    width: 250px;
    object-fit: cover;
}
.footer-logo h2 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-logo p {
    font-size: 14px;
    color: #ccc;
    margin-top: 5px;
}

.footer-links {
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 10px 0;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-divider {
    width: 100%;
    padding: 1px;
    margin: 30px 0;
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #b88a44); /* Gradient for the border */
    /* border: 0px solid transparent; Transparent border to maintain spacing */

}

.footer-socials {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.footer-socials img{
    border: 1px solid #e0aa3e;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
}
/* .footer-socials a {
    color: #fff;
    width: 20px;
    height: 20px;
    margin: 2px 9px;
    padding-right: 50px;
    text-decoration: none;
    gap: 10px;
} */

.footer-socials a:hover {
    color: #aaa;
}

.footer-copyright {
    text-align: center;
    font-size: 14px;
    color: #ccc;
    margin-top: 10px;
}



/* =============================================Responsive=================================== */


/* Mobile Responsiveness */
@media (max-width: 768px) {
    #polls_bollards {
        padding: 30px;
        flex-direction: column;
        gap: 20px;
    }
    #polls_img, #bollards_img {
        width: 70%;
        height: auto;
    }
    #LEDPostTop_img, #LEDDropDown_img{
        width: 70%;
        height: auto;
    }

    #footer-logo {
        width: 70%;
        height: auto;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-links ul {
        text-align: center;
    }
    .hover-text {
        display: block; /* or inline-block, if needed */
        text-align: center; /* Adjust as needed */
        font-size: 3vh; /* Ensure it’s visible and sized appropriately */
    }
}
@media (max-width: 480px) {
    #product_heading {
        font-size: 3vh;
    }
    #polls_bollards{
        margin-top: -30px;
        height: 600px;
        width: 100%;
    }
    #polls_img, #bollards_img {
        width: 100%;
        height: 60vh;
    }
    #LEDPostTop_img, #LEDDropDown_img{
        width: 100%;
        height: 60vh;
        position: relative;
        overflow: hidden;
    }
    #polls_img img, #bollards_img img {
        width: 100%;
        height: 60vh;
        transition: transform 0.3s ease-in;
    }
    #LEDPostTop_img, #LEDDropDown_img{
        width: 100%;
        height: 60vh;
        transition: transform 0.3s ease-in;

    }
    .hover-text {
        position: absolute;
        bottom: 0;
        font-size: 6vw;
        color: whitesmoke;

    }
    #polls_img img:hover {
        content: url('../AssertsAll/poles/light_Poles.jpg');
        object-fit: cover;
    }
    
    #bollards_img img:hover {
        content: url('../AssertsAll/garden_lights/light_garden\ lights.jpg');
        object-fit: cover;

    }
    #LEDPostTop_img img:hover{
        content: url('../AssertsAll/ledposttop/light_LED\ Post\ top.jpg'); /* Change image on hover */
        object-fit: cover;
    }
    #LEDDropDown_img img:hover{
        content: url('../AssertsAll/leddropdown/light_LED\ Drop\ Down.jpg');
        object-fit: cover;
    }
    footer {
        padding: 20px 0;
    }

    .footer-links ul li {
        margin: 5px 0;
    }

    .footer-socials img {
        width: 40px;
        height: 40px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    #product_heading {
        font-size: 4.5vh;
    }

    nav {
        padding: 1.5vw;
        flex-direction: row;
        height: auto;
    }

    #nav-part2 h1 {
        font-size: 0.9rem;
    }

    #polls_bollards {
        gap: 40px;
        flex-direction: row;
    }

    #polls_img, #bollards_img {
        width: 45%;
        height: auto;
    }

    footer {
        padding: 30px 0;
    }

    .footer-logo {
        width: 60%;
    }

    .footer-links {
        flex-direction: row;
        gap: 20px;
    }

    .footer-links ul {
        text-align: center;
    }

    .footer-links ul li {
        margin: 5px 0;
    }

    .footer-socials img {
        width: 45px;
        height: 45px;
    }
}