@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #032a25;

}

html, body {
    width: 100%;
    height: 100%;
        overflow-x: hidden;
}
#main{
    position: relative;
}
#herosection {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}
/* #outerborder{
    display: flex;
} */
#product_heading {
    position: relative;
     padding: 6px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vh;
    font-weight: 600;
    color: #032a25;
    text-align: center;
    /* margin: auto; */
        /* background: #fff; */
    z-index: 1; /* Ensure the heading remains on top */
}

/* Inner Gradient Border */
#product_heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 3px solid #032A25;

    /* border-radius: 30px; */
    z-index: -1; /* Place behind the heading text */
}

/* Outer Green Border */
#product_heading::after {
    content: "";
    position: absolute;
    top: -6px; /* Extend beyond the element */
    left: 0;
    right: 0;
    bottom: -6px;
    border: 3px solid transparent; /* Reserve space for the gradient */
    background: linear-gradient(to right, #f9f295, #e0aa3e, #b88a44);
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    /* border-radius: 30px; */
    /* border-radius: 40px; */
    z-index: -2; /* Place behind both the text and the inner border */
}
/* Manu for responsive  */
.menu-icon i {
    background: linear-gradient(to right, #f9f295, #e0aa3e, #b88a44); /* Gradient background */
    -webkit-background-clip: text; /* Clip the background to the text */
    color: transparent; /* Make the text transparent so that the background shows through */
    text-decoration: none; /* Remove underline */ 
    font-size: 40px;
    display: none;
}
.menu-icon{
    display: none;
}
/* Navigation */
nav {
    background-color: whitesmoke;
    padding: 2vw;
    padding-right: 6vw;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

#logo_img {

    height: 110px;
    width: 250px;
    object-fit: cover;
}

#nav-part2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

#nav-part2 a {
    color: #032a25;
    text-decoration: none;
    /* position: relative; */
}

#nav-part2 h1 {
    padding: 10px 20px;
    border-radius: 50px;
    color: #032a25;
    font-size: 17px;
    font-weight: 500;
    /* position: relative; */
    /* overflow: hidden; */
    transition: all ease 0.4s;
}

/* Dropdown Styling */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* Position the dropdown below the Products link */
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #032A25;
    z-index: 10;
    width: 200px;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    background-color: whitesmoke;
    font-weight: 400;
}

.dropdown-content a:hover {
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #B88A44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Sub-dropdown Styling */
.sub-dropdown {
    position: relative;
}

.sub-dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; /* Align the sub-dropdown to the right */
    width: 200px;
    background-color: #032A25;
    box-shadow: 0 4px 8px rgba(253, 253, 253, 0.1);
    border-radius: 10px;
    z-index: 20;
}

.sub-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    background-color: whitesmoke;
    transition: background-color 0.3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.sub-dropdown-content a:hover {
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #B88A44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

/* Show sub-dropdown on hover */
.sub-dropdown:hover .sub-dropdown-content {
    display: block;
}

/* Nav item hover effect */
#nav-part2 h1:hover a {
    background: linear-gradient(to right, #f9f295, #e0aa3e, #e0aa3e, #B88A44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
/* Product Section */
#polls_bollards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding-top: 45px;
    height: 81vh;
}
#bollards_img a,
#polls_img a{
    text-decoration: none;
}
#polls_img, #bollards_img {
    width: 35%;
    height: 69vh;
    background-color: #e9e9e9;
    position: relative;
    overflow: hidden;
}

#polls_img img, #bollards_img img {
    width: 100%;
    height: 60vh;
    transition: transform 0.3s ease-in;
}

#polls_img img:hover {
    content: url('../AssertsAll/poles/light_Poles-optimized.webp');
}

#bollards_img img:hover {
    content: url('../AssertsAll/garden_lights/light_garden\ lights.webp');
}
.hover-text {
    display: inline;
    justify-content: center;
    color: black;
    font-size: 3vh;
    padding-left: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}
/* Footer */
footer {
    position: relative;
    background-color: #111;
    color: #fff;
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
}

footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(to right, #f9f295, #e0aa3e, #b88a44);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}
/* .footer-logo,.footer-links{
    display: flex;
    justify-content: space-evenly;
} */
.footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-logo {
    flex-basis: 25%;
    height: 110px;
    width: 350px;
}

#footerlogo {
    width: 60%;
    height: 80px;
    object-fit: cover;
}

.footer-links {
    /* flex-basis: 70%; */
    display: flex;
    justify-content: space-between;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a { 
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-divider {
    width: 100%;
    padding: 1px;
    margin: 30px 0;
    background: linear-gradient(to right, #f9f295, #e0aa3e, #b88a44);
}

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#footer-bharat{
    width: 75px;
    height: 60px;
    background-color: whitesmoke;
}
#footer-bacho{
    width: 75px;
    height: 60px;
}
#footer-earth{
    width: 70px;
    height: 60px;
}
#footer-lion{
    width: 75px;
    height: 60px;
}
#footer-city{
    width: 75px;
    height: 60px;
}
.footer-socials img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    margin: 10px 10px;
}

.footer-copyright {
    text-align: center;
    font-size: 0.875rem;
    color: #ccc;
    margin-top: 10px;
}
#gototop{
    display: none;
}
/* Mobile Responsiveness */
@media (max-width: 768px) {
    #product_heading {
        font-size: 2vh;
    }
    #polls_bollards {
        padding: 30px;
        flex-direction: column;
        gap: 20px;
    }

    #polls_img, #bollards_img {
        width: 70%;
        height: auto;
    }
    .hover-text {
        display: block; 
        text-align: center; 
        font-size: 3vh; 
    }
} 
@media (max-width: 600px) {
    #logo_img{
        height: 110px;
        width: 180px;
        object-fit: cover;
        margin-top: 0;
    }
    #nav-part2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #032A25;
        position: absolute;
        top: 0px;
        width: 100%;
        height: 30%;
        right: 0;
        z-index: 2;
        overflow: hidden;
        transition: .3s ease-out;
    }
    #nav-part2 a {
        background: linear-gradient(to right, #f9f295, #e0aa3e, #b88a44); /* Gradient background */
        -webkit-background-clip: text; /* Clip the background to the text */
        color: transparent; /* Make the text transparent so that the background shows through */
        text-decoration: none; /* Remove underline */
    }
    
    /* #nav-part2 h1:nth-child(1){
        top: 50%    ;
        gap: 50px;
    }
    #nav-part2 h1:nth-child(2){
        top: 7%    ;
    }
    #nav-part2 h1:nth-child(3){
        top: 8%    ;
    } */
    /* #nav-part2 h1 a{
        padding: 20px;
    }   */
    /* .menu-icon:hover{
        background-color: gold;
    } */
    .menu-icon {
        display: block;
        z-index: 2;
    }
    .menu-icon i{
        display: block;
    }  
    #gototop{
        display: block;
        /* margin: auto; */
        height: 50px;
        width: 100px;
        background-color: #111;
        text-decoration: none;
        border: 3px solid #032A25;
        background: linear-gradient(to right, #f9f295, #e0aa3e, #b88a44); /* Gradient background */
        -webkit-background-clip: text; /* Clip the background to the text */
        color: transparent; /* Make the text transparent so that the background shows through */
        text-decoration: none; /* Remove underline */ 
    }
    #product_heading {
        font-size: 3vh;
        margin-bottom: 30px;
    }
    #polls_bollards{
        margin-top: -30px;
        height: 700px;
        width: 100%;
    }
    #polls_img, #bollards_img {
        width: 100%;
        height: 40vh;
        position: relative;
        overflow: hidden;
    }
    #polls_img img, #bollards_img img {
        width: 100%;
        height: 40vh;
        transition: transform 0.3s ease-in;
    }
    .hover-text {
        position: absolute;
        bottom: 0;
        font-size: 6vw;
        color: whitesmoke;

    }
    #polls_img img:hover {
        content: url('../AssertsAll/poles/light_Poles.webp');
    }
    
    #bollards_img img:hover {
        content: url('../AssertsAll/garden_lights/light_garden\ lights.webpg');
    }
    .footer-links {
        display: block; /* Enables flex layout for easy alignment */
        justify-content: start; /* Centers the logo */
    }
    
    .footer-links a {
        display: none; /* Hides all anchor links */
    }
    .footer-links #contacthai{
        display: block;
        background-color: red;
    }
    .footer-logo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 50px;
        width: 100%; 
    }
    .footer-logo img{
        height: 100%;
        width: 100%;
    }
    #footerlogo{
        width: 50%;
        left: 0;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    #product_heading {
        font-size: 4.5vh;
    }

    nav {
        padding: 1.5vw;
        flex-direction: row;
        height: auto;
    }

    #nav-part2 h1 {
        font-size: 0.9rem;
    }

    #polls_bollards {
        gap: 40px;
        flex-direction: row;
    }

    #polls_img, #bollards_img {
        width: 45%;
        height: auto;
    }
    
}